.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: Black;
}

p{
    color: black;
}

      
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }


    header{
        background-color:  #333;
        color: white;
        padding: 1px 0;
        text-align: center;
    }
    header nav a{    
        padding: 1px;
        color: white;
        margin: 0 10px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: purple;
        transition: transform 0.3s ease, background-color 0.2 ease;
    }
    header nav a:hover{
        background-color: lightpink;
        transform: scale(1.1);
    }
    header nav a:hover{
        outline: none;
    }

    
    .product-details-1{
        width: 55%;
    }
    h1{
        font-size: 30px;
    }
    .product1{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-1{
        width: 30%;
        margin-top: 60px;
        border: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-1:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-1{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-1{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-1:hover{
        background-color: #218838;
        transform: scale(1.1);
    }
    .buy-button-1:focus{
        outline: none;
        box-shadow: 0 0 5px grey;
    }
    .ukuran1{
        margin-top: 5px;
    }
    .bahan1{
        margin-top: 5px;
    }
    .finishing1{
        margin-top: 5px;
    }
    .suara1{
        margin-top: 5px;
    }
    

    .product-details-2{
        width: 55%;
    }
    .product2{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-2{
        width: 30%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-2:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-2{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-2 {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-2:hover{
        background-color: #218838;
        transform: scale(1.1);
    }
    .buy-button-3:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .ukuran2{
        margin-top: 5px;
    }
    .bahan2{
        margin-top: 5px;
    }
    .finishing2{
        margin-top: 5px;
    }
    .suara2{
        margin-top: 5px;
    }
    .product2{
        margin-top: 100px;
    }
    
    
    .product-details-3{
        width: 55%;
    }
    .product3{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-3{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-3:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-3{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-3{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-3:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-3:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .ukuran3{
        margin-top: 5px;
    }
    .bahan3{
        margin-top: 5px;
    }
    .finishing3{
        margin-top: 5px;
    }
    .suara3{
        margin-top: 5px;
    }
    
    .product3{
        margin-top: 100px;
    }



    .product-details-4{
        width: 55%;
    }
    .product4{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-4{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-4:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-4{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-4{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-4:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-4:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .ukuran4{
        margin-top: 5px;
    }
    .bahan4{
        margin-top: 5px;
    }
    .finishing4{
        margin-top: 5px;
    }
    .suara4{
        margin-top: 5px;
    }
    
    .product4{
        margin-top: 100px;
    }

    
    .product-details-5{
        width: 55%;
    }
    .product5{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-5{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-5:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-5{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-5{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-5:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-5:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .ukuran5{
        margin-top: 5px;
    }
    .bahan5{
        margin-top: 5px;
    }
    .finishing5{
        margin-top: 5px;
    }
    .suara5{
        margin-top: 5px;
    }
    
    .product5{
        margin-top: 100px;
    }


    .product-details-6{
        width: 55%;
    }
    .product6{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-6{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-6:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-6{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-6{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-6:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-6:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .ukuran6{
        margin-top: 5px;
    }
    .bahan6{
        margin-top: 5px;
    }
    .finishing6{
        margin-top: 5px;
    }
    .suara6{
        margin-top: 5px;
    }
    
    .product6{
        margin-top: 100px;
    }



    .product-details-7{
        width: 55%;
    }
    .product7{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-7{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-7:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-7{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-7{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-7:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-7:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .bahan7{
        margin-top: 5px;
    }
    .finishing7{
        margin-top: 5px;
    }
    .suara7{
        margin-top: 5px;
    }
    
    .product7{
        margin-top: 100px;
    }

    .product-details-8{
        width: 55%;
    }
    .product8{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-8{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-8:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-8{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-8{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-8:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-8:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .bahan8{
        margin-top: 5px;
    }
    .finishing8{
        margin-top: 5px;
    }
    .suara8{
        margin-top: 5px;
    }
   
    .product8{
        margin-top: 100px;
    }


     
     .product-details-9{
        width: 55%;
    }
    .product9{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-9{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-9:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-9{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-9{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-9:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-9:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .keys9{
        margin-top: 5px;
    }
    .pedal9{
        margin-top: 5px;
    }
    .casing9{
        margin-top: 5px;
    }

    .finishing9{
        margin-top: 5px;
    }
    .suara9{
        margin-top: 5px;
    }
    
    .product9{
        margin-top: 100px;
    }


    .product-details-10{
        width: 55%;
    }
    .product10{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-10{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-10:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-10{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-10{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-10:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-10:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .keys10{
        margin-top: 5px;
    }
    .soundboard10{
        margin-top: 5px;
    }
    .pedal10{
        margin-top: 5px;
    }
    .casing10{
        margin-top: 5px;
    }

    .finishing10{
        margin-top: 5px;
    }
    .suara10{
        margin-top: 5px;
    }
  
    .product10{
        margin-top: 100px;
    }


    
    .product-details-11{
        width: 55%;
    }
    .product11{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-11{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-11:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-11{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-11{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-11:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-11:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .sheldrum11{
        margin-top: 5px;
    }
    .meshheads11{
        margin-top: 5px;
    }
    .hardware11{
        margin-top: 5px;
    }
    .cymbals11{
        margin-top: 5px;
    }

    .finishing11{
        margin-top: 5px;
    }
    .suara11{
        margin-top: 5px;
    }
    
    .product11{
        margin-top: 100px;
    }

    
    .product-details-12{
        width: 55%;
    }
    .product12{
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    .gambar-product-12{
        width: 30%;
        margin-bottom: 60px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gambar-product-12:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
    }
    .product-price-12{
        font-size: 25px;
        color: #e74c3c;
        font-weight: bold;
    }
    .buy-button-12{
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.2s ease;
    }
    .buy-button-12:hover{
        background-color: #218838;
        transform: scale(1.1);

    }
    .buy-button-12:focus{
        outline: none;
        box-shadow: 0 0 5px  grey;
    }
    .bahan12{
        margin-top: 5px;
    }
    .ukuran12{
        margin-top: 5px;
    }
    .finishing12{
        margin-top: 5px;
    }
    .suara12{
        margin-top: 5px;
    }
    
    .product12{
        margin-top: 100px;
    }

    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    .footer-products{
        color: white;
    }


    @media (max-width: 768px) {
        .navbar {
            flex-direction: column; 
            align-items: flex-start; 
        }
    
        nav {
            text-align: left;
        }
    
        nav ul li {
            margin-right: 10px; 
        }
    
        .product {
            flex-direction: column; 
            align-items: center; 
        }
    
        .gambar-product {
            width: 80%; 
        }
    
        .product-price {
            font-size: 20px; 
        }
    
        .buy-button {
            padding: 8px 16px; 
            font-size: 16px;
        }
    }
    
    @media (max-width: 480px) {
        h1 {
            font-size: 24px; 
        }
    
        .product-price {
            font-size: 18px; 
        }
    
        .buy-button {
            padding: 6px 12px; 
            font-size: 14px; 
        }
    }
    